body{
    background-color: lightgrey;
    font-family: sans-serif;
  }
  
  .containerc{
    text-align: center;
    margin: auto;
    background-color: white;
    width: 100%;
    padding: 30px;
    padding-top: 130px;
  }
  
  ul, li {
      padding: 0;
      margin: 0;    
  }
  
  ul.slider{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, 0%);
    position: relative;
    width: 100%;
    height: 700px;
  }
  
  ul.slider li {
    
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
  }
  
  ul.slider li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu{
    text-align: center;
    margin: 20px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #0f88f2;
    padding: 10px;
    width: 45px;
    height: 45px;
    font-size: 17px;
    border-radius: 100%;
  }
  .menu li a:hover{
    background-color: #042440;
    color: #0f88f2;
    transition: opacity 0.5;
  }


  body{
    background-color:gray;
}      
/* menu */
#menu {
text-align: left;
}
#menu ul {
list-style:none;
margin:0;
padding:0;
}
/* items del menu */
/*#menu ul li {
//background-color:#0f88f2;
}
*/
/* enlaces del menu */
#menu ul a {
display:block;
color:#0f88f2;
text-decoration:none;
font-weight:300;
font-size:12px;
padding:0%;
font-family: 'Quicksand', sans-serif;
font-weight: bold;
text-transform:uppercase;
letter-spacing:1px;
align-self: center;
margin-left: 4%;
margin-top: 4%;
}

/* items del menu */
#menu ul li {
position:relative;
float:left;
margin:0;
padding:0;
width: 150px;
}

/* efecto al pasar el ratón por los items del menu */
#menu ul li:hover {
background:rgba(0, 0, 0, 0.3);
color: black;
}

/* menu desplegable */
#menu ul ul {
display:none;
position:absolute;
top:100%;
left:0;
background:#dbdbdb;
padding:0;
}

/* items del menu desplegable */
#menu ul ul li {
float:none;
width:150px;
}

/* enlaces de los items del menu desplegable */
#menu ul ul a {
line-height:120%;
padding:10px 15px;
}

/* items del menu desplegable al pasar el ratón */
#menu ul li:hover > ul {
display:block;
}
#cright{
float: right;
width: 45%;

}

/*animaciones scroll*/

html{      
  width:100%;
  height:100%;      
   
}

body{
  margin:0;
  width:100%;
  height:100%;
}
.panel{
  padding-top: 0%;
  position:relative;
  width:100%;
  height:0;
  overflow:hidden;
  -webkit-transition: all 700ms ease-out;
  -moz-transition:all 700ms ease-out;
  transition: all 700ms ease-out;
}
#inicio{
  position:absolute;
  width:100%;
  height:100%;
  font-size:70px;
  overflow:hidden;
}

#escena1{
  background-color:#adadad;  
}

#escena2{
  background-color:#7e7d7d;  
}

#escena3{
  background-color:#5c5b5b;  
  color: white;
}

#escena4{
  background-color:#3f3f3f;
  color: white;  
}
.panel:target{
  height:100%;
}

.image-gallery-icon {
  color: hsla(0,0%,100%,.75);
  transition: all .2s ease-out;
  -webkit-appearance: none;
  appearance: none;
  background-color: initial;
  border: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 4;
  filter: drop-shadow(0 2px 2px #1a1a1a);
}

.image-gallery-left-nav, .image-gallery-right-nav {
  padding: 50px 10px;
  top: 50%;
  transform: translateY(-50%);
}
.shadowbt {
  box-shadow: 0 0.5rem 1rem rgba(0, 68, 107, 0.7) !important;
}
.centrar{
  margin: 10px auto 10px;
  display: block;
}

.blue-button button{
  
    background: #0f88f2;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.blue-button button:hover,
.blue-button button:focus {
    background: #042440;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

footer{
  background-image: url("../images/footer_Mesa_de_trabajo_1.png");
  padding: 30 px;
}

